torch==1.7.1
albumentations==0.3.2
resnest==0.0.6b20200823
geffnet==0.9.8
numpy==1.19.4
pandas==0.24.2
apex==0.1
opencv-python==4.2.0.32
pretrainedmodels
tqdm
Pillow==6.2.2
scikit_learn==0.21.3
-e git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git#egg=pytorch-gradual-warmup-lr
requests
Flask
oauthlib
pyOpenSSL
Flask-Login